{% extends 'index.html' %}
{% load static %}

{% block content %}
<div id="body">
    <div id="framesBody">
        <h2>Handcrafted Frames Made By Us</h2>
        <div class="divider2"></div>
        <img src="{% static 'images/OBX-7.jpg'%}" alt="">
        <div class="divider2"></div>
        <img src="{% static 'images/OBX-7.jpg'%}" alt="">
        <div class="divider2"></div>
        <img src="{% static 'images/OBX-7.jpg'%}" alt="">
        <div class="divider2"></div>
    </div>
</div>
{%endblock%}